<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Dashboard</title>

	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/bootstrap/css/styles.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-table.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/file_input/fileinput.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/file_input/fileinput-rtl.min.css"> 

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-th"></span> Widgets</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Tables</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Alerts &amp; Panels</a></li>
			<li class="parent ">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> Dropdown <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>
		<div class="attribution">More Templates </div>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Table</div>
					<div class="panel-body">
						<div id="toolbar" class="btn-group">
							<button id="btn_add" type="button" class="btn btn-default " data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
							</button>
							<button id="btn_delete" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
							</button>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导出<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">excel</a></li>
									<li><a href="#">......</a></li>
								</ul>
							</div>
						</div>
						<table id = "TableStyle"/>

						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">新增</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="Email">Email address</label>
											<input type="email" class="form-control" id="Email" placeholder="Email">
										</div>
										<div class="form-group">
											<label for="Password">Password</label>
											<input type="password" class="form-control" id="Password" placeholder="Password">
										</div>
										<div class="form-group">
											<label for="File">File input</label>
											<input type="file" name="File" class="form-control" id="File">
											<p class="help-block">Example block-level help text here.</p>
										</div>
										<div class="form-group">
											<label>状态</label>
												<label class="radio-inline">
													<input type="radio" name="Attribute"  value=1 /> 正常
												</label>
												<label class="radio-inline">
													<input type="radio" name="Attribute"  value=2 /> 锁定
												</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox"> Remember me
											</label>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="button" class="btn btn-primary">提交</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 新增 -->
					</div>
				</div>
			</div>
		</div>
		

	</div><!--/.mian-->   
	<script src="/bootstrap/js/jquery-1.11.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/bootstrap/js/bootstrap-table.js"></script>
	<script src="/bootstrap/js/file_input/fileinput.min.js"></script>
	<script src="/bootstrap/js/bootbox.min.js"></script>
	<script type="text/javascript">
		
		
		function Editor(value){
			$("#a").text(value);
		};

		function Delete(value){
			window.alert(value);
		};

		

		$(function(){
			$("#TableStyle").bootstrapTable({
				url:"/welcome/data_list",
				searchAlien:"right",//搜索框位置
				search:true,//显示搜索框
				striped: true, //行渐变色
				cache: false, //是否缓存
				pagination:true,//是否显示分页
				//pageNumber:1,//初始化加载第一页，默认第一页
	            //pageSize: 10,//每页的记录行数（*）
	            //pageList: [10, 25, 50, 100],//可供选择的每页的行数（*）
				showRefresh:true,
				showToggle:true,//切换视图
				showColumns:true,//显示所有列
				uniqueId:"id",//主键
				sortName:"id",//默认排序字段
				//sortOrder:"desc",//排序方式
				toolbar:"#toolbar",
				columns:[{
					checkbox: true,
				},{
					field: "id",
					title: "ID",
					align: 'center',
					sortable: true,
				},{
					field: "username",
					title: "USER-NAEM",
					align: 'center',
					sortable: true,
				},{
					field: "fullname",
					title: "FULL-NAME",
					align: 'center',
					sortable: true,
				},{
					field: "email",
					title: "EMAIL",
					align: 'center',
					sortable: true,
				},{
					field: "date_added",
					title: "DATE-ADDED",
					align: 'center',
					sortable: true,
				},{
					field: "dept",
					title: "DEPT",
					align: 'center',
					sortable: true,
				},{
					field: "password",
					title: "password",
					align: 'center',
					sortable: true,
				},{
					field: "status",
					title: "status",
					align: 'center',
					sortable: true,
				},{
					field: "button",
					title: "操作",
					align: 'center',
					formatter: function(value,row,index){
	     				return "<a href='javascript:;' onclick='Editor("+row.id+");' class='glyphicon glyphicon-pencil' style = 'text-decoration:none'/>&nbsp;&nbsp;<a href='javascript:;' onclick='Delete("+row.id+");' class='glyphicon glyphicon-remove' style = 'text-decoration:none'>";
	 				},
				}]
			});

			$("#btn_delete").click(function(){
				var opts = $("#TableStyle").bootstrapTable('getSelections');  
		        if (opts == "") {  
		            bootbox.alert({
					  	size: "small",
					  	title: "确认删除",
					  	message: "请选择要删除的数据！", 
					  	callback: function(){ /* your callback code */ }
					}); 
		        }  else {  
		            var idArray = [];  
		            for (var i = 0; i < opts.length; i++) {  
		                idArray.push(opts[i].id);  
		            }  
		            bootbox.confirm({
		            	size: "small",
					  	title: "确认删除",
					  	message: "确定删除图书ID：" + idArray + "吗？", 
					  	callback: function(result){ if(result) alert("suscess");   }
					});
		        }  
		    });

			$("#File").fileinput({
				showUpload:true,//显示上传按钮
				showRemove:true,//显示移除按钮
				uploadUrl:"/welcome/do_upload",
				enctype : 'multipart/form-data',
			}).on("fileerror", function(event, data, msg) {  
            	console.log(msg);
            })  .on("fileuploaded", function(event, data) {  
                console.log(data);  
        	});
		});
	</script>
</body>

</html>
