<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Home</title>

	<link href="/data/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/data/bootstrap/css/styles.css" rel="stylesheet"/>
	<link href="/data/bootstrap/css/bootstrap-editable.css" rel="stylesheet" />
	<link href="/data/bootstrap/css/old-bootstrap-table.css" rel="stylesheet" />
	<link href="/data/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="/data/bootstrap/css/file_input/fileinput.min.css" rel="stylesheet"/>
	<link href="/data/bootstrap/css/file_input/fileinput-rtl.min.css" rel="stylesheet"/> 

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li><a href="/Widget"><span class="glyphicon glyphicon-th"></span> Widgets</a></li>
			<li><a href="/Chart"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
			<li><a href="/Table"><span class="glyphicon glyphicon-list-alt"></span> Tables</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
			<li><a href="/SystemInterface"><span class="glyphicon glyphicon-info-sign"></span> System &amp; Interface</a></li>
			<li class="parent ">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> Dropdown <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>
		<div class="attribution">More Templates </div>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Home</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Home</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Table</div>
					<div class="panel-body">
						<div id="toolbar" class="btn-group">
							<button type="button" class="btn btn-default " data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
							</button>
							<button id="btn_delete" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
							</button>
							<button type="button" class="btn btn-default" data-toggle='modal' data-target='#modal_import'>
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>导入
							</button>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导出<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a id="btn_excel" href="#">Excel</a></li>
									<li><a data-toggle="modal" data-target="#modal_qrcode" href="#">QR Code</a></li>
									<li><a href="#">......</a></li>
								</ul>
							</div>
						</div>
						<table id = "TableStyle"></table>

						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">新增</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="Email">Email address</label>
											<input type="email" class="form-control" id="Email" placeholder="Email">
										</div>
										<div class="form-group">
											<label for="Password">Password</label>
											<input type="password" class="form-control" id="Password" placeholder="Password">
										</div>
										<div class="form-group">
											<label for="File">File input</label>
											<input type="file" name="File" class="form-control" id="File">
											<p class="help-block">Example block-level help text here.</p>
										</div>
										<div class="form-group">
											<label>状态</label>
												<label class="radio-inline">
													<input type="radio" name="Attribute"  value=1 /> 正常
												</label>
												<label class="radio-inline">
													<input type="radio" name="Attribute"  value=2 /> 锁定
												</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox"> Remember me
											</label>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button id="btn_add" type="button" class="btn btn-primary">提交</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 新增 -->

						<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="modal-edit">修改</h4>
									</div>
									<div class="modal-body">
											<input type="hidden" class="form-control" id="ID">
										<div class="form-group">
											<label for="Email">Name</label>
											<input type="email" class="form-control" id="A" placeholder="Email">
										</div>
										<div class="form-group">
											<label for="Password">Price</label>
											<input type="number" class="form-control" id="B" placeholder="Password">
										</div>
										<div class="form-group">
											<label for="Date">Date Picking</label>
							                <div class="input-group date col-md-5" id="form_date">
							                    <input class="form-control" size="16" type="text" id="C" readonly>
							                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
												<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							                </div>
											
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button id="btn_edit" type="button" class="btn btn-primary">提交</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 修改 -->

						<div class="modal fade" id="modal_import" tabindex="-1" role="dialog" aria-labelledby="modal_import" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="modal_import">导入</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="File">File input</label>
											<input type="file" name="File" class="form-control" id="btn_import">
										</div>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 导入 -->

						<div class="modal fade" id="modal_qrcode" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">二维码</h4>
									</div>
									<div class="modal-body">
										<div id="qrcode" class="text-center"></div>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 二维码 -->

						<div style="display:none;">
							<div id="data_show">
								<div style="text-align: center;">
									<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-8 col-sm-offset-8 col-md-offset-8">yyyy</div>
								<div>
									<div class="col-xs-8 col-sm-8 col-md-8">xxxx</div>
									<div class="col-xs-4 col-sm-4 col-md-4">zzzz</div>
								</div>
								<table id = "aaaa"></table>
								<div>
									<div class="col-xs-4 col-sm-4 col-md-4">xxxx</div>
									<div class="col-xs-4 col-sm-4 col-md-4">yyyy</div>
									<div class="col-xs-4 col-sm-4 col-md-4">zzzz</div>
								</div>
								xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
							</div>
						</div><!-- 打印 -->

					</div>
				</div>
			</div>
		</div>
		

	</div><!--/.mian-->   
	<script src="/data/bootstrap/js/jquery-1.11.1.min.js"></script>
	<script src="/data/bootstrap/js/bootstrap.min.js"></script>
	<script src="/data/bootstrap/js/bootstrap-editable.min.js"></script>
	<script src="/data/bootstrap/js/old-bootstrap-table.js"></script>
	<script src="/data/bootstrap/js/file_input/fileinput.min.js"></script>
	<script src="/data/bootstrap/js/bootbox.min.js"></script>
	<script src="/data/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/data/bootstrap/js/print/jquery-print.js"></script>
	<script src="/data/bootstrap/js/jquery.qrcode.min.js"></script>
	<script src="/data/js/tool.js"></script>
	<script src="/data/js/home.js"></script>
</body>

</html>
