<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TEST</title>

	<link href="/data/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/data/bootstrap/css/styles.css" rel="stylesheet"/>
	<link href="/data/bootstrap/css/bootstrap-table.css" rel="stylesheet" /> 

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-th"></span> Widgets</a></li>
			<li><a href="/Chart"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Tables</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
			<li><a href="/SystemInterface"><span class="glyphicon glyphicon-info-sign"></span> System &amp; Interface</a></li>
			<li class="parent ">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> Dropdown <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>
		<div class="attribution">More Templates </div>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">System &amp; Interface</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">SystemInterface</h1>
			</div>
		</div><!--/.row-->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">接口</div>
					<div class="panel-body">
						<div id="toolbar" class="btn-group">
							<button type="button" class="btn btn-default " data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
							</button>
							<button id="btn_delete" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
							</button>
						</div>
						<table id = "TableStyle"/>

						<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="">新增</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="url">url名称</label>
											<input type="text" class="form-control" id="url" placeholder="url名称">
										</div>
										<div class="form-group">
											<label for="uptype">上传类型</label>
											<select id="uptype" class="form-control">
												<option value="1">Post</option>
												<option value="0">Get</option>
											</select>
										</div>
										<div class="form-group">
											<label for="updata">上传数据</label>
											<textarea id="updata" class="form-control" rows="3" placeholder="请书写JSON格式..."></textarea>
										</div>
										<div class="form-group">
											<label for="retype">返回类型</label>
											<select id="retype" class="form-control">
												<option value="0">JSON</option>
												<option value="1">Array</option>
											</select>
										</div>
										<div class="form-group">
											<label for="redata">返回数据</label>
											<textarea id="redata" class="form-control" rows="3" placeholder="请书写JSON格式..."></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button id="btn_add" type="button" class="btn btn-primary">提交</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 新增 -->

						<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog"  aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">修改</h4>
									</div>
									<div class="modal-body">
										<input type="hidden" class="form-control" id="edit_ID">
										<div class="form-group">
											<label for="url">url名称</label>
											<input type="text" class="form-control" id="edit_url" readonly="readonly">
										</div>
										<div class="form-group">
											<label for="uptype">上传类型</label>
											<select id="edit_uptype" class="form-control">
												<option value="1">Post</option>
												<option value="0">Get</option>
											</select>
										</div>
										<div class="form-group">
											<label for="updata">上传数据</label>
											<textarea id="edit_updata" class="form-control" rows="3" placeholder="请书写JSON格式..."></textarea>
										</div>
										<div class="form-group">
											<label for="retype">返回类型</label>
											<select id="edit_retype" class="form-control">
												<option value="0">JSON</option>
												<option value="1">Array</option>
											</select>
										</div>
										<div class="form-group">
											<label for="redata">返回数据</label>
											<textarea id="edit_redata" class="form-control" rows="3" placeholder="请书写JSON格式..."></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button id="btn_edit" type="button" class="btn btn-primary">提交</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 修改 -->

						<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">接口详情</h4>
									</div>
									<div class="modal-body">
										<pre id="data_show" style = "white-space: pre-wrap;"></pre>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 详情 -->

					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/data/bootstrap/js/jquery-1.11.1.min.js"></script>
	<script src="/data/bootstrap/js/bootstrap.min.js"></script>
	<script src="/data/bootstrap/js/bootstrap-table.js"></script>
	<script src="/data/bootstrap/js/bootbox.min.js"></script>
	<script src="/data/js/tool.js"></script>
	<script src="/data/js/interface.js"></script>
</body>

</html>